/* max-width= 1920px
margin left =240px right also same 240px
max-width=1920px
1920-240-240=1440/1920= 0.75%= 75% content width */
/* <<<<<<<<<<<<<<<<Font family Lato link>>>>>>>>>>>>>>>>  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/* reused variables */
:root {
  --primary-red: #e55473;
  --primary-black: #27272799;
  --secondary-black: #272727;
  --primary-line-height: 23px;
  --primary-font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body related styles */
body {
  max-width: 1920px;
  font-family: "Lato", sans-serif;
  margin: auto;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
/* reused utils class*/
.container {
  width: 75%;
  margin: auto;
}
.title {
  font-weight: 800;
  color: var(--secondary-black);
  font-size: 30px;
}
.btn {
  color: #fff;
  border: none;
  padding: 15px 32px;
  border-radius: 8px;
  background: #e55473;
  font-size: 15px;
  font-weight: 700;
}
.para {
  color: var(--primary-black);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  padding: 18px 0;
}
.img {
  width: 100%;
  height: 100%;
}

/* =======================reused utils classes end==================>*/
/* <<<<<<<<<<<<<<<<<<<<Header Related  Styles>>>>>>>>>>>>>>>>>>> */
header {
  background: rgba(229, 84, 115, 0.1);
}
.header_parent {
  display: flex;
  height: 638px;
  gap: 72px;
}
.header_parent div {
  flex: 1;
}
.header_content_box h2 {
  font-size: 60px;
  color: var(--secondary-black);
  margin-top: 145px;
}
.header_image_box {
  padding-top: 45px;
}
